<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  	   	          
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       					   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">

      <bean id="Winston_java" type="SpringConfigDummy.Lessor, SpringConfigDummy">
        <property name="Houses">
          <list>
            <ref bean="House1_java"/>
            <ref bean="House2_java"/>
            <ref bean="House3_java"/>
          </list>
        </property>
      </bean>

      <bean id="House1_java" type="SpringConfigDummy.House, SpringConfigDummy"/>
      <bean id="House2_java" type="SpringConfigDummy.House, SpringConfigDummy"/>
      <bean id="House3_java" type="SpringConfigDummy.House, SpringConfigDummy"/>
      
</beans>
